.apply-table-content
{
  width: 80%;
  min-height: 100vh;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  background: #fff;
  margin-top: 30px;
  .feidian-logo
  {
    width: 100%;
    height: 120px;
    position: relative;
    img{
      width: 80px;
      height: 80px;
      position: absolute;
      left: 300px;
      top: 50px;
    }
  }
  .title{
    font-size: 30px;
    color: grey;
    position: absolute;
    left: 380px;
    height: 30px;
    top: 66px;
    font-weight: 300;
  }
  .apply-form
  {
     width: 100%;
  }
}
