.change-content
{
  width: 80%;
  height: 100vh;
  .login-box
  {
    width: 480px;
    border-radius:15px;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    .logo{
      width: 70px;
      height: 70px;
      margin: 50px calc((100% - 70px)/2);
      margin-bottom: 10px;
    }
    .input-content
    {
      @inputMargin:50px;
      width: calc(100% - @inputMargin * 2);
      height: calc(100% - @inputMargin * 2);
      margin: 20px @inputMargin 0 @inputMargin;
    }
    .tips{
      width: 100%;
      line-height: 60px;
      color: grey;
      text-align: center;
    }
    .tips:hover
    {
      color: #1677ff;
    }
  }
}


