.register-content {
  width: 80%;
  height: 100vh;

  @media only screen and (max-width:500px) {
    height: 100%;
    width: 90%;
    overflow: scroll;
  }

  .register-box {
    width: 780px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);

    .logo {
      width: 70px;
      height: 70px;
      margin: 50px calc((100% - 70px)/2);
      margin-bottom: 10px;

      @media only screen and (max-width:500px) {
        width: 60px;
        height: 60px;
        margin: 30px calc((100% - 70px)/2);
        margin-bottom: 0px;
      }
    }

    .apply-form-container {
      .ant-form-item {
        // display: flex;

        width: 50%;

        @media only screen and (max-width:500px) {
          margin-left: 10%;
          margin-bottom: 3%;
          width: 80%;
          .ant-form-item{
            margin-left: 0;
          }

          .code-group {
            width: 80%;
            display: flex;
            margin-left: 0;

            .code-item {
              width: 60%;
            }

            .code-btn {
              width: 40%;
            }
          }
        }

        .code-item {
          width: 60%;
        }

        .code-btn {
          width: 40%;
        }
      }
    }

    .sign-btn{
      width: 150px;
      margin-left: -68px;
    }
    @media only screen and (max-width:500px) {
      .sign-btn{
        width: 30%;
        margin-left: 0px;
      }
    }
  }
}