*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  min-height: 100vh - 2px;
  background: #4fa0f4;
  overflow-x:hidden;
  border: 1px solid rgba(255, 255, 255, 0);
}
#root {
  max-width: 1080px;
  margin: 0 auto;
}
.flex-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-center
{
  margin: 0 auto;
}
