.admin-home-content
{
    width: 80%;
    min-height: 80vh;
    border-radius: 15px;
    margin: 50px auto;
    background: #fff;
    .header-content
    {
        height: 80px;
        width: 100%;
        position: relative;
        img{
            width: 60px;
            height: 60px;
            position: absolute;
            left: 38px;
            top: 30px;
        }
        .header-title
        {
            font-size: 30px;
            letter-spacing: 3px;
            position: absolute;
            left: 111px;
            top: 38px;
            color: lightslategrey;

        }
        .header-button
        {
            position: absolute;
            right: 50px;
            top: 48px;
        }
        .header-switch{
            position: absolute;
            right: 150px;
            top: 51px;
        }
    }
    .tabs-content
    {
        margin: 0 50px;
        padding-top: 20px;
    }
    .list-content
    {
        padding: 10px 30px 25px 30px;
    }
    .description
    {
        line-height: 30px;
        height: 30px;
        width: 90%;
        overflow: hidden;
    }

}
.info-title
{
    line-height: 30px;
    padding: 0 2px;
    border-bottom: 3px solid cornflowerblue;
    display: inline-block;
    color: grey;
    margin-bottom: 10px;
}
.info-content
{
    line-height: 30px;
    color: #4fa0f4;
}
